<volume>
  <name>{{.Name}}</name>
  <capacity unit='MiB'>1</capacity>
  <allocation unit='MiB'>0</allocation>
  <target>
    <format type='raw'/>
    <permissions>
      <mode>0600</mode>
    </permissions>
  </target>
</volume>
